<div class="p-4" style="width: 1350px;">
  <div class="card">
    <div class="card-body">
      <h2>Cards</h2>
      <div class="text-end">
        <button class="btn btn-success btn-sm" routerLink="add">Add</button>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Social ID</th>
              <th>Activation</th>
              <th>Profile ID</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let profile of accountData.profiles">
              <tr *ngFor="let social of profile.socials">
                <td>{{ social.id }}</td>
                <td>{{ social.socialUrl }}</td>
                <td>{{ social.profileId }}</td>
                <td>
                  <a class="btn btn-primary btn-sm" [routerLink]="['update', social.id]" queryParamsHandling="merge">Update</a>
                  <button class="btn btn-danger btn-sm" (click)="deleteSocial(social.id)">Delete</button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
